@{
    ViewBag.Title = "Home Page";
}
<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

            <!-- Title -->
            <h1 class="mt-4">Yapı Malzemeleri</h1>

            <!-- Author -->
            <p class="lead">
                by
                <a href="/Home/Index">Yapı Mal-Z</a>
            </p>

            <!-- Preview Image -->
            <img class="img-fluid rounded" src="~/Content/Image/YapiMal.png" alt="">

            <hr>

            <!-- Post Content -->
            <p class="lead">
                İnşaat sürecindeki en önemli görevlerden biri de planlı bir şekilde yapı malzemeleri seçimidir. İnşaat malzemeleri çoğunlukla yapının proje mimari tarafından tasarım aşamasında türü belirtilebilir. Ancak bu ön belirleme sadece Birim Fiyat tespiti için ön bilgi olur. Bu gerçekleştirilen ön tespit malzemenin siparişi için yeterli değildir. Malzemenin kalitesi, adedi, ebadı, üretici firmanın ismi vb. operasyonların düzgün belirlenmesi gerekir. Özellikle malzemenin fiyatı ve performansı konuları için inşaatçının etkin araştırma yapması veya yaptırması gerekir.

            </p>

            <p>

                Malzemelerin doğru seçimi için Kontrol mimarı veya Mühendisinin de araştırma yapması gereklidir. Malzeme alım öncesinde, miktarlar belirlenmelidir. Miktar belirlenirken keşiflerdeki miktarlardan yararlanılır. Tereddüt halinde metrajlar kontrol edilir veya yeniden yapılır.

            </p>

            <p>

                Malzeme seçimi sırasında ayrıca, kullanılacak yapı malzemesinin güvenli olduğu, zarar veren unsurlar içermediği Malzeme Güvenliği Bilgi Formu istenerek kontrol edilmelidir. Sakıncalı inşaat malzemelerine; içinde zararlı madde, iş güvenlik riski bulunan (tehlikeli), sakıncalı atık içeren malzemeler sayılabilir. Kaba yapı malzemelerini oluşturan taş, kaya, kil, kum, çakıl, mıcır, kireç, çimento, briket, tuğla, gazbeton, bloklar, kereste, inşaat demiri, çelik hasır, beton çivisi, inşaat çivisi, mozaik, tavlı tel gibi malzemelerinin seçimine de aynı şekilde dikkat edilmelidir. Kaba yapı malzemelerinin yetkinliğini ve uygunluğunu belirleyen hususlar Bayındırlık Bakanlığı Genel teknik Şartnamelerinde ayrıntılı olarak belirtilmiştir.
            </p>

            <blockquote class="blockquote">
                <p class="mb-0">ÜRÜNLERİMİZ 1. SINIF ÜRÜNLERDİR BİZDE HATA OLMAZ!</p>
                <footer class="blockquote-footer">
                    Ünlü ve kaliteli olan
                    <cite title="Source Title">Ürünlerimizin kalitesi</cite>
                </footer>
            </blockquote>

            <p>1. Sınıf olan ürünlerimiz bu site tarafından gösterilmektedir.</p>

            <p>
                İletişim: +90111111111
                Hasbi KÖLE
                E-Mail: Abovyapma@gmail.com
            </p>
            <hr>





        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">




            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">Kurucu hakkında</h5>
                <div class="card-body">
                    Şirket sahibi olan Hasbi KÖLE büyük bir girişimde bulunarak yapı malzemeleri sektörünün lideri oldu ve bu siteyi oluşturdu.
                </div>
            </div>

        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->